{% extends 'base.html'%}

{% block title %}
    About
{% endblock %}

{% block header_page %}
    About us
{% endblock %}

{% block content %}

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">About Us</h1>
            <p class="col-md-8 fs-4">
                A little over twenty years ago, artSoft was just a few people in a small Silicon Valley office. A number of things 
                have changed since then — we’re 2500+ people across four continents now — but our commitment to providing the best 
                possible digital consulting and engineering hasn’t changed a bit.
            </p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>We are everywhere</h2>
            <p>
                ArtSoft offices span North & South America, Europe, and Asia — providing continuous delivery wherever our customers happen to be.
                Our teams are composed of leading experts from multiple regions and countries that seamlessly work together, bound by their love for software, 
                technology, and innovation. ArtSoft customers enjoy a rich multi-national working experience that results in world-class software solutions.
            </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
            <h2>History</h2>
            <p>
                Since 1998 we’ve been working with top professionals to develop frameworks, platforms, software and partnerships that serve the needs 
                of an ever-evolving global marketplace.
            </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
