{% extends 'base.html'%}

{% block title %}
    Comment
{% endblock %}

{% block header_page %}
    Leave a comment 
{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                {% if comment %}
                {% for data in comment %}
                    <div class="alert alert-warning mt-2">
                        <h4>{{ data.comment }}</h4> 
                        <p class="text-end">{{ data.add_email }}</p>
                        <p class="text-end">{{ data.issued }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-muted">Leave your comment here</p>
            {% endif %}
            </div>
            <div class="col-6 mb-3">
                <div class="m-2">Enter your email address or name:</div>
                <div class="m-2" style="padding-bottom: 7px;">{{ form.add_email }}</div>

                <div class="m-2" style="padding-top: 7px;">Comment:</div>
                <div class="m-2" style="padding-bottom: 7px;">{{ form.comment }}</div>
                
                <div class="m-2" style="padding-block: 10px 0px;">
                    <button type="submit" class="btn btn-outline-secondary mb-4">Send</button>
                </div>
                <hr class="featurette-divider" style="margin-bottom: 20px;">
            </div>
        </div>
    </div>
</form>

{% endblock %}

