{% extends 'base.html' %}

{% block title %}
    Engineer
{% endblock %}

{% block content %}

    <div class="container marketing">

        <hr class="featurette-divider">
        
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">White Space Business Design.
                    <span class="text-muted">It’ll blow your mind.</span>
                </h2>
                <p class="lead">Competition is fierce out there – your customers hold you to increasingly high standards. And the market is changing, too. 
                    You have to stay on top of it all, from new channels to altered consumer behaviors. We’ll help you find revenue streams that range from 
                    incremental to disruptive, refreshing and evolving, to fulfil your customers’ unmet needs, which might mean new products, expanded 
                    offerings or an entirely different business model.
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#eee"></rect>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good.
                    <span class="text-muted">See for yourself.</span>
                </h2>
                <p class="lead">According to Forrester, “practices that can help link CX visions to brand, 
                    back that connection with data-driven customer insights, and ensure the business succeeds by facilitating changes to the work 
                    environment position themselves to successfully deliver lasting CX transformations to their customers 
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#eee"></rect>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Systems Thinking.
                    <span class="text-muted">Siloed thinking leads to siloed solutions. We take a different approach.</span>
                </h2>
                <p class="lead">
                    Our integrated consulting teams – across Business, Experience, Technology and Data – apply a systems 
                    thinking mindset to get to the heart of our clients’ challenges, achieving balance and harmony 
                    in the overarching business system that leads to meaningful, sustained outcomes.
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#eee"></rect>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

    </div>
{% endblock %}
