{% extends 'base.html' %}

{% block title %}
    Operate
{% endblock %}

{% block content %}

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">HOLISTIC SECURITY</h1>
                <p class="col-md-8 fs-4">
                    Our operational approach is to provide the most secure collaboration and delivery environments while balancing risk and cost. 
                    We believe that to be effective, security must be integrated holistically across the entire operational landscape.
                </p>
                <button class="btn btn-outline-secondary btn-lg" type="button">Learn More</button>
            </div>
        </div>
    
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>DEVOPS FORWARD.</h2>
                <p>
                    We believe that operational improvements increasingly depend on continuous innovation and delivery. 
                    Our DevOps practices extend beyond the engineering department and help you transform operations end-to-end.
                </p>
                <button class="btn btn-outline-light" type="button">Learn More</button>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                <h2>INTELLIGENT AUTOMATION</h2>
                <p>
                    We believe that automation enables smarter operations and better customer outcomes. 
                    Our approach to automation is rooted in pragmatism and driven by clear business objectives and value drivers.
                </p>
                <button class="btn btn-outline-secondary" type="button">Learn More</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}